# Dependencies
node_modules/

api/

# Environment variables
.env
.env.local
.env.development
.env.production

# Prisma generated client
/generated/prisma
/src/generated 
/prisma/migrations

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS files
.DS_Store
Thumbs.db

# Build outputs
dist/
build/
.next/
out/

# Cache
.cache/
.tmp/
temp/

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# Test coverage
coverage/

# Turbo / Monorepo
.turbo/

/generated/prisma

.vercel

/generated/prisma
